<div class="card ms-2 mb-3 px-0">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ item.image | prepend: site.baseurl }}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                {% for link in item.links %}
                    <a class="btn btn-outline-secondary" href="{{ link.url }}" role="button">{{ link.text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
